@model SHAHmeHmood_MVC5fourth.Models.Books

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<!-- HTML main head tells that we are going to use html in browser -->
<head>

    <!-- hrad tag-->
    <title>
      
    </title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <!--Here bind CSS file with it. -->
</head>
<body class="body">

    <h1>KUST LIBRARY MANAGEMENT</h1>
    

        <h4>book number: @Model.BookNumber </h4>
        <h4>book Name: @Model.BookName </h4>
        <h4>book Author: @Model.BookAuthor </h4>
        <h4> book Price: @Model.Price </h4>
        <h4> Publisher: @Model.Publisher </h4>
   


    
   
</body>
</html>
